@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Boutique Soap</h1>

</div>

<div class="text-center">
    <img src="~/img/background.jpg" />
</div>
